*{
  box-sizing: border-box;
  margin: 0;
}

body{
	background:url(../Img/Background/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

ul{
  padding: 8px 0;
}
a{
  text-decoration: none;
}


/*nome no topo*/
.conteudoTopo{
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(../Img/Background/BackgroundTopo.png);
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
  color: #ffffff;
}


/*conteudo*/
.conteudoMain{
  width: 70vw;
  margin: 20px auto;
  padding: 5px 20px 20px 20px;
  background-color: #ffffff;

}

.conteudoDivisao{
  margin: auto;
  padding: 5px 0px;
}

.textoParagrafo{
  padding: 5px 0px;
}
.paragrafo{
  text-indent: 20px
}
.link{
  color: #666666;
  padding-bottom: 1px;
  border-bottom: 3px solid #0F96AE;
}
.link:hover{
  color: #000000;  
  border-bottom: 3px solid #004070;
}
.titulo{
  font-size: 18px;
  color: #EF7D00;
}

.grades{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grade{
  width: 250px;
  margin: 10px auto;
  border: 1px solid #000000;
}
.nomeUnidade{
  text-align: center;
  background-color: #666666;
  color: #ffffff;
}
.horario{
  text-align: center;
  background-color: #F0F0F0;
}